<!-- wp:template-part {"slug":"header","theme":"autoparts","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main front-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main front-page"><!-- wp:pattern {"slug":"autoparts/hero"} /-->

<!-- wp:pattern {"slug":"autoparts/category-tile-grid"} /-->

<!-- wp:pattern {"slug":"autoparts/cta-banner"} /-->

<!-- wp:pattern {"slug":"autoparts/featured-products"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"autoparts","tagName":"footer","area":"footer"} /-->